.green{
	color: rgb(0, 127, 31) !important;
	font-weight: 600;
}
.width{
	width: 60%;
	margin-left: 20%;
}
#featured{
	padding-top: 150px;
}
code{
	color: white;
	background-color: rgb(35,35,35) !important;
	padding: 25px;
	border-radius: 15px;
}
.yellow:hover{
	color: #f2e63c !important;
}
.yellow{
	color: #f2e63c !important;
}